/*
Cambium Theme for Windows96
*/

*{font-family:Arial,sans;}

.w96-menubar,.w96-menubar *{font-family:Arial,sans !important;}
.w96-menubar *,.wcontext-menu *,.w96-button{font-size:14px !important;}
.window-dlg .ui-icon-gripsmall-diagonal-se,.livecss-window .ui-icon-gripsmall-diagonal-se {
  background-color: #42c2f5 !important;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  bottom:-8px;
  right:-8px;
}

/*.w96-button:not(.start_button) {
box-shadow: none !important;
font-size: 12px !important;
filter:none !important;
color: white;
background-color: green;
font-family: Arial;
padding-top: 2px !important;
padding-bottom: 2px !important;
padding-left: 5px !important;
padding-right: 5px !important;
}*/

.window-html-content{
font-size:9px;
}

.w96-button[disabled] {
background-color:grey;
color: grey
}

.iexploder-app .w96-button:not(.go){
background-color: white;
border-radius: 50%;
border: 2px solid green;
padding: 2px !important;
}

.choosecolor.w96-button{
background:#f3f3f3;
}
.window-dlg {
  box-shadow:none !important;
  background-color: white !important;
  padding:0px !important;
}

.window-dlg .titlebar-icon{
display:none !important;
}

.window-dlg .titlebar-title {
margin-left:0px !important;
padding-left: 4px !important;
}

.window-dlg .titlebar {
background: white !important;
color:black;
}

.titlebar-comments-btn{
display:none;
}

.wcontext-menu {
background:white;
box-shadow:none;
padding: 0px !important;
border:none !important;
outline:none;
border-radius: 5px;
filter: drop-shadow(0px 0px 10px #000000);
}

.user-taskbar{
top: 22px;
height:60px !important;
max-height:none;
background:white;
  z-index:7 !important;
}

.taskbar-notify {
position:fixed;
height: 20px;
width:100%;
top:0px;
background-color: #c3c3c3;
border:none !important;
outline:none !important;
text-align:right !important;
display:flex !important;
justify-content: end !important;
box-shadow: none !important;
}

.taskbar-notify *{
font-size:12px;
}

.taskbar-task{
box-shadow:none;
background:none;
flex-direction:column;
display:inline-flex !important;
justify-content:center !important;
  align-items: center !important;
width:50px !important;
height: 50px;
  border:none;
}

.titlebar-minbutton{display:none !important}

.taskbar-tasks{display:block}

.taskbar-task * {
width:100% !important;
  font-size:8px;
}
.taskbar-task-text{text-align:center !important;}
.taskbar-task-icon,.w96-toolbar .icon {
display: block !important;
height: 30px !important;
  width: 30px !important;
background-position: center !important;
background-repeat:no-repeat !important;
margin:0px;
  background-size: 80% !important;
border: 3px solid grey;
border-radius: 50%;
}


.pane-container {
  background-color:white
}
